*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    /*width: 80vw;*/
    /*height: 100vh;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;      /* main-axis = horizontal if row | main-axis = vertical if column */
    justify-content: stretch; /* controls main-axis  | flex direction */
    align-items: stretch;     /* controls cross-axis | flex-direction */
    height: 100vh;
}

.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

svg {
    display: block;
    flex: 1 1 auto;
    background: #ddd;
}

/**
 * Buttons
 */
button {
    background: rgb(255, 255, 255);
    color: #09b;
}

/**
 * Control Panel Settings
 */
#control-panel {
    display: block;
    flex: 0 1 500px;
    background: rgba(255,255,255,1);
    overflow-y: scroll;
    border-left: 3px solid rgb(16, 108, 200);
}
#control-panel .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    margin-bottom: 20px;
    background: rgb(255, 255, 255);
}
    #control-panel .hamburger-bar {
        display: flex;
        align-items: flex-start;
        /*justify-content: flex-end;*/
        padding: 0;
    }
    #control-panel .header {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 16px;
        background-color: rgb(16, 108, 200);
    }
        #control-panel .header:hover {
            background-color: rgba(16, 108, 200, 0.9);
        }
        #control-panel .header span {
            font-weight: 600;
            color: rgba(255,255,255,0.87);    
        }
    #control-panel .content {
        display: block;
        padding: 10px;
        /*padding: 16px 16px;*/
    }

#control-panel.minimize {
    /*flex: 0 1 60px;*/
    transform: translate3d(440px,0,0);
}




/**
 * Modals
 */
.modal {
    position: fixed;
    width: 20vw;
    height: 45vh;
    top: 25vh;
    left: 40vw;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-in 0.3s, opacity 0.3s ease-in;

    border: 1px solid rgb(166,166,166);
    background-color: rgb(255,255,255);

    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.modal.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(240,240,240);
    background: linear-gradient(to top, #ECE9E6 , #FFFFFF);
    border-bottom: 1px solid rgb(166,166,166);
}
.modal header h2 {
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.modal header button {
    display: flex;
}


.box {
    display: flex;
    padding: 20px;
    /*display: block;*/
    /*flex: 1 1 auto;*/
    /*background: #09b;*/
}

.box h2 {
    padding: 0;
    margin: 0;
}

/*.invisible { visibility: hidden; }*/
/*.visible { visibility: visible; }*/